/* ACCOUNT PAGE STYLES */
.account-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 3rem 0;
}

.account-actions a {
    color: inherit;
    text-transform: capitalize;
}

.account-actions a:hover {
    color: inherit;
}

/* CARDS STYLES */
.user-card {
    width: 100%;
    max-width: 300px;

    display: flex;
    flex-direction: column;
    align-items: center;

    border-radius: var(--border-radius-2);
    box-shadow: 0px 0px 3px #9b9b9b;
}

.user-card:hover .ring {
    background-color: #1d1d1d99;
    outline: .5rem solid #efefef22;
}

.card-image {
    padding: 4rem;
    width: 100%;
    background-color: #001356;
    border-radius: var(--border-radius-2) var(--border-radius-2) 0 0;
}

.account-actions a:nth-child(even) .card-image {
    background-color: var(--color-accent);
}


.card-text {
    padding: 2rem;
    width: 100%;
    border-radius: 0 0 var(--border-radius-2) var(--border-radius-2);

    font-size: 1.5em;
    font-weight: bolder;
}

@container (inline-size <= 650px) {
    .account-actions {
        flex-direction: column;
    }

    .account-page .desc {
        font-size: calc(10px + 3.6vw);
    }
}